@{
    ViewData["Title"] = "Autorization";
}

<h1>Autoriztion</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p>@ViewBag.ErrorMessage</p>
}


<form method="post">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Login">
</form>